name: "New plugin release"
# This workflow is triggered by a tag push to the repository.
# This workflow should be triggered by the `trigger-release.yaml` workflow
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+

jobs:
  make-new-release:
    name: "Releasing plugin"
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Base Release Environment Setup
        uses: ./.github/actions/base-release
      - name: Publish Plugin Candidate
        if: contains(github.ref, '-rc.')
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          GITHUB_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./plugin/gradlew \
          -p ./plugin \
          -Preleasing \
          -Prelease.disableGitChecks=true \
          -Prelease.useLastTag=true \
          candidate \
          publishPlugins \
          githubRelease

      - name: Publish Plugin Release
        if: (!contains(github.ref, '-rc.'))
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          GITHUB_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./plugin/gradlew \
          -p ./plugin \
          -Preleasing \
          -Prelease.disableGitChecks=true \
          -Prelease.useLastTag=true \
          final \
          publishPlugins \
          githubRelease
